*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/* .banner{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #0222d8, #00afdb);
    background-size: cover;
    background-position: center;
} 
*/




